# General
ENV=development
PORT=5000
SERVER_URL=http://localhost:5000

# Database
DATABASE_URL=""

# Frontend
FRONTEND_URL="http://localhost:5173/"

# Email Service
EMAIL_API_KEY=""
MONGO_INITDB_ROOT_PASSWORD=""